In [180]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [181]:
df = pd.read_csv('data/train.csv')

In [182]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [183]:
df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [184]:
print(df.columns.values)

<StringArray>
[           'Id',    'MSSubClass',      'MSZoning',   'LotFrontage',
       'LotArea',        'Street',         'Alley',      'LotShape',
   'LandContour',     'Utilities',     'LotConfig',     'LandSlope',
  'Neighborhood',    'Condition1',    'Condition2',      'BldgType',
    'HouseStyle',   'OverallQual',   'OverallCond',     'YearBuilt',
  'YearRemodAdd',     'RoofStyle',      'RoofMatl',   'Exterior1st',
   'Exterior2nd',    'MasVnrType',    'MasVnrArea',     'ExterQual',
     'ExterCond',    'Foundation',      'BsmtQual',      'BsmtCond',
  'BsmtExposure',  'BsmtFinType1',    'BsmtFinSF1',  'BsmtFinType2',
    'BsmtFinSF2',     'BsmtUnfSF',   'TotalBsmtSF',       'Heating',
     'HeatingQC',    'CentralAir',    'Electrical',      '1stFlrSF',
      '2ndFlrSF',  'LowQualFinSF',     'GrLivArea',  'BsmtFullBath',
  'BsmtHalfBath',      'FullBath',      'HalfBath',  'BedroomAbvGr',
  'KitchenAbvGr',   'KitchenQual',  'TotRmsAbvGrd',    'Functional',
    'Fireplaces',   'FireplaceQu',    'GarageType',   'GarageYrBlt',
  'GarageFinish',    'GarageCars',    'GarageArea',    'GarageQual',
    'GarageCond',    'PavedDrive',    'WoodDeckSF',   'OpenPorchSF',
 'EnclosedPorch',     '3SsnPorch',   'ScreenPorch',      'PoolArea',
        'PoolQC',         'Fence',   'MiscFeature',       'MiscVal',
        'MoSold',        'YrSold',      'SaleType', 'SaleCondition',
     'SalePrice']
Length: 81, dtype: str

In [185]:
null_cols = df.isnull().sum().where(df.isnull().sum() > 0)[df.isnull().sum().where(df.isnull().sum() > 0) > 0] # there has to be a better way but im js like that 
null_cols

LotFrontage      259.0
Alley           1369.0
MasVnrType       872.0
MasVnrArea         8.0
BsmtQual          37.0
BsmtCond          37.0
BsmtExposure      38.0
BsmtFinType1      37.0
BsmtFinType2      38.0
Electrical         1.0
FireplaceQu      690.0
GarageType        81.0
GarageYrBlt       81.0
GarageFinish      81.0
GarageQual        81.0
GarageCond        81.0
PoolQC          1453.0
Fence           1179.0
MiscFeature     1406.0
dtype: float64

In [186]:
# data cleaning
null_cols_80 = null_cols[null_cols > len(df.index) * 0.8].index.values # re check how many %
null_cols_80 = [n.strip() for n in null_cols_80]
df = df.drop(null_cols_80, axis=1)

df['LotFrontage'] = df['LotFrontage'].fillna(0)
df['MasVnrArea'] = df['MasVnrArea'].fillna(0)
df['BsmtFinSF1'] = df['BsmtFinSF1'].fillna(0)
df['BsmtFinSF2'] = df['BsmtFinSF2'].fillna(0)
df['GarageYrBlt'] = df['GarageYrBlt'].fillna(0)
df['Electrical'] = df['Electrical'].fillna(df['Electrical'].mode)

In [187]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 77 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   str
 3   LotFrontage    1460 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   str
 6   LotShape       1460 non-null   str
 7   LandContour    1460 non-null   str
 8   Utilities      1460 non-null   str
 9   LotConfig      1460 non-null   str
 10  LandSlope      1460 non-null   str
 11  Neighborhood   1460 non-null   str
 12  Condition1     1460 non-null   str
 13  Condition2     1460 non-null   str
 14  BldgType       1460 non-null   str
 15  HouseStyle     1460 non-null   str
 16  OverallQual    1460 non-null   int64
 17  OverallCond    1460 non-null   int64
 18  YearBuilt      1460 non-null   int64
 19  YearRemodAdd   1460 non-null   int64
 20  RoofStyle      1460 non-null   str
 21  RoofMatl       1460 non-null   str
 22  Exterior1st    1460 non-null   str
 23  Exterior2nd    1460 non-null   str
 24  MasVnrType     588 non-null    str
 25  MasVnrArea     1460 non-null   float64
 26  ExterQual      1460 non-null   str
 27  ExterCond      1460 non-null   str
 28  Foundation     1460 non-null   str
 29  BsmtQual       1423 non-null   str
 30  BsmtCond       1423 non-null   str
 31  BsmtExposure   1422 non-null   str
 32  BsmtFinType1   1423 non-null   str
 33  BsmtFinSF1     1460 non-null   int64
 34  BsmtFinType2   1422 non-null   str
 35  BsmtFinSF2     1460 non-null   int64
 36  BsmtUnfSF      1460 non-null   int64
 37  TotalBsmtSF    1460 non-null   int64
 38  Heating        1460 non-null   str
 39  HeatingQC      1460 non-null   str
 40  CentralAir     1460 non-null   str
 41  Electrical     1460 non-null   object
 42  1stFlrSF       1460 non-null   int64
 43  2ndFlrSF       1460 non-null   int64
 44  LowQualFinSF   1460 non-null   int64
 45  GrLivArea      1460 non-null   int64
 46  BsmtFullBath   1460 non-null   int64
 47  BsmtHalfBath   1460 non-null   int64
 48  FullBath       1460 non-null   int64
 49  HalfBath       1460 non-null   int64
 50  BedroomAbvGr   1460 non-null   int64
 51  KitchenAbvGr   1460 non-null   int64
 52  KitchenQual    1460 non-null   str
 53  TotRmsAbvGrd   1460 non-null   int64
 54  Functional     1460 non-null   str
 55  Fireplaces     1460 non-null   int64
 56  FireplaceQu    770 non-null    str
 57  GarageType     1379 non-null   str
 58  GarageYrBlt    1460 non-null   float64
 59  GarageFinish   1379 non-null   str
 60  GarageCars     1460 non-null   int64
 61  GarageArea     1460 non-null   int64
 62  GarageQual     1379 non-null   str
 63  GarageCond     1379 non-null   str
 64  PavedDrive     1460 non-null   str
 65  WoodDeckSF     1460 non-null   int64
 66  OpenPorchSF    1460 non-null   int64
 67  EnclosedPorch  1460 non-null   int64
 68  3SsnPorch      1460 non-null   int64
 69  ScreenPorch    1460 non-null   int64
 70  PoolArea       1460 non-null   int64
 71  MiscVal        1460 non-null   int64
 72  MoSold         1460 non-null   int64
 73  YrSold         1460 non-null   int64
 74  SaleType       1460 non-null   str
 75  SaleCondition  1460 non-null   str
 76  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(1), str(38)
memory usage: 878.4+ KB

In [188]:
df.isnull().sum().where(df.isnull().sum() > 0)[df.isnull().sum().where(df.isnull().sum() > 0) > 0] # there has to be a better way but im js like that

MasVnrType      872.0
BsmtQual         37.0
BsmtCond         37.0
BsmtExposure     38.0
BsmtFinType1     37.0
BsmtFinType2     38.0
FireplaceQu     690.0
GarageType       81.0
GarageFinish     81.0
GarageQual       81.0
GarageCond       81.0
dtype: float64

In [189]:
categorical_cols = df.select_dtypes(include=['object', 'str'])
numerical_cols = df.select_dtypes(include=['int', 'float']).columns.drop(['Id'])
to_scale_numerical_cols = numerical_cols.drop(['MSSubClass', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'BsmtFullBath' ,'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'GarageYrBlt', 'GarageCars',  'MoSold', 'YrSold', 'SalePrice'])

In [190]:
MSSubClass_mapping = {
    20: 0,
    30: 1,
    40: 2,
    45: 3,
    50: 4,
    60: 5,
    70: 6,
    75: 7,
    80: 8,
    85: 9,
    90: 10,
    120: 11,
    150: 12,
    160: 13,
    180: 14,
    190: 15
}

Street_mapping = {
    "Grvl": 0,
    "Pave": 1
}

LandSlope_mapping = {
    "Sev": 0,
    "Mod": 1,
    "Gtl": 2
}

ExterQual_mapping = {
    "Po": 0,
    "Fa": 1,
    "TA": 2,
    "Gd": 3,
    "Ex": 4
}

ExterCond_mapping = {
    "Po": 0,
    "Fa": 1,
    "TA": 2,
    "Gd": 3,
    "Ex": 4
}

BsmtQual_mapping = {
    "NA": 0,
    "Po": 1,
    "Fa": 2,
    "TA": 3,
    "Gd": 4,
    "Ex": 5
}

BsmtCond_mapping = {
    "NA": 0,
    "Po": 1,
    "Fa": 2,
    "TA": 3,
    "Gd": 4,
    "Ex": 5
}

BsmtExposure_mapping = {
    "NA": 0,
    "No": 1,
    "Mn": 2,
    "Av": 3,
    "Gd": 4
}

BsmtFinType1_mapping = {
    "NA": 0,
    "Unf": 1,
    "LwQ": 2,
    "Rec": 3,
    "BLQ": 4,
    "ALQ": 5,
    "GLQ": 6
}

BsmtFinType2_mapping = BsmtFinType1_mapping.copy()

HeatingQC_mapping = {
    "Po": 0,
    "Fa": 1,
    "TA": 2,
    "Gd": 3,
    "Ex": 4
}

CentralAir_mapping = {
    "N": 0,
    "Y": 1
}

KitchenQual_mapping = {
    "Po": 0,
    "Fa": 1,
    "TA": 2,
    "Gd": 3,
    "Ex": 4
}

FireplaceQu_mapping = {
    "NA": 0,
    "Po": 1,
    "Fa": 2,
    "TA": 3,
    "Gd": 4,
    "Ex": 5
}

GarageFinish_mapping = {
    "NA": 0,
    "Unf": 1,
    "RFn": 2,
    "Fin": 3
}

GarageQual_mapping = {
    "NA": 0,
    "Po": 1,
    "Fa": 2,
    "TA": 3,
    "Gd": 4,
    "Ex": 5
}

GarageCond_mapping = {
    "NA": 0,
    "Po": 1,
    "Fa": 2,
    "TA": 3,
    "Gd": 4,
    "Ex": 5
}

PavedDrive_mapping = {
    "N": 0,
    "P": 1,
    "Y": 2
}

mappings = {
    "MSSubClass": MSSubClass_mapping,
    "Street": Street_mapping,
    "LandSlope": LandSlope_mapping,
    "ExterQual": ExterQual_mapping,
    "ExterCond": ExterCond_mapping,
    "BsmtQual": BsmtQual_mapping,
    "BsmtCond": BsmtCond_mapping,
    "BsmtExposure": BsmtExposure_mapping,
    "BsmtFinType1": BsmtFinType1_mapping,
    "BsmtFinType2": BsmtFinType2_mapping,
    "HeatingQC": HeatingQC_mapping,
    "CentralAir": CentralAir_mapping,
    "KitchenQual": KitchenQual_mapping,
    "FireplaceQu": FireplaceQu_mapping,
    "GarageFinish": GarageFinish_mapping,
    "GarageQual": GarageQual_mapping,
    "GarageCond": GarageCond_mapping,
    "PavedDrive": PavedDrive_mapping,
}

mapped_col = []
for col, mapping in mappings.items():
    mapped_col.append(col)
    df[col] = df[col].map(mapping).fillna(0)


df.isnull().sum().where(df.isnull().sum() > 0)[df.isnull().sum().where(df.isnull().sum() > 0) > 0] # there has to be a better way but im js like that

MasVnrType    872.0
GarageType     81.0
dtype: float64

In [191]:
# df.info()

In [192]:
# one hot 
df['Electrical'] = df['Electrical'].astype('str')

not_mapped = [item for item in categorical_cols if item not in mapped_col]

for col in not_mapped:
    one_hot = pd.get_dummies(df[col], dtype='int')
    df = df.drop(col, axis=1)
    df = pd.concat([df, one_hot], axis=1)

In [193]:
# df[numerical_cols].info()

In [194]:
# binning
df['YearBuiltBand'] = pd.qcut(df['YearBuilt'], 4)
df[['YearBuiltBand', 'SalePrice']].groupby('YearBuiltBand', as_index=False).mean().sort_values(by='YearBuiltBand', ascending=True)

df.loc[df['YearBuilt'] <= 1954.0, 'YearBuilt'] = 0
df.loc[(df['YearBuilt'] > 1954.0) & (df['YearBuilt'] <= 1973.0), 'YearBuilt'] = 1
df.loc[(df['YearBuilt'] > 1973.0) & (df['YearBuilt'] <= 2000.0), 'YearBuilt'] = 2
df.loc[(df['YearBuilt'] > 2000.0) & (df['YearBuilt'] <= 2010.0), 'YearBuilt'] = 3
df['YearBuilt'] = df['YearBuilt'].astype(int)

df['YearRemodAddBand'] = pd.qcut(df['YearRemodAdd'], 4)
# print(df[['YearRemodAddBand', 'SalePrice']].groupby('YearRemodAddBand', as_index=False).mean().sort_values(by='YearRemodAddBand', ascending=True))

df.loc[df['YearRemodAdd'] <= 1967.0, 'YearRemodAdd'] = 0
df.loc[(df['YearRemodAdd'] > 1967.0) & (df['YearRemodAdd'] <= 1994.0), 'YearRemodAdd'] = 1
df.loc[(df['YearRemodAdd'] > 1994.0) & (df['YearRemodAdd'] <= 2004.0), 'YearRemodAdd'] = 2
df.loc[(df['YearRemodAdd'] > 2004.0) & (df['YearRemodAdd'] <= 2010.0), 'YearRemodAdd'] = 3
df['YearRemodAdd'] = df['YearRemodAdd'].astype(int)

df['GarageYrBltBand'] = pd.qcut(df['GarageYrBlt'], 4)
# print(df[['GarageYrBltBand', 'SalePrice']].groupby('GarageYrBltBand', as_index=False).mean().sort_values(by='GarageYrBltBand', ascending=True))

df.loc[df['GarageYrBlt'] <= 1958.0, 'GarageYrBlt'] = 0
df.loc[(df['GarageYrBlt'] > 1958.0) & (df['GarageYrBlt'] <= 1977.0), 'YearBuilt'] = 1
df.loc[(df['GarageYrBlt'] > 1977.0) & (df['GarageYrBlt'] <= 2001.0), 'YearBuilt'] = 2
df.loc[(df['GarageYrBlt'] > 2001.0) & (df['GarageYrBlt'] <= 2010.0), 'YearBuilt'] = 3
df['GarageYrBlt'] = df['GarageYrBlt'].astype(int)

df = df.drop(['YearBuiltBand', 'YearRemodAddBand', 'GarageYrBltBand'], axis=1)
# df.info(verbose=True)

In [195]:
df[to_scale_numerical_cols]

,LotFrontage,LotArea,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal
0,65.0,8450,196.0,706,0,150,856,856,854,0,1710,548,0,61,0,0,0,0,0
1,80.0,9600,0.0,978,0,284,1262,1262,0,0,1262,460,298,0,0,0,0,0,0
2,68.0,11250,162.0,486,0,434,920,920,866,0,1786,608,0,42,0,0,0,0,0
3,60.0,9550,0.0,216,0,540,756,961,756,0,1717,642,0,35,272,0,0,0,0
4,84.0,14260,350.0,655,0,490,1145,1145,1053,0,2198,836,192,84,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,62.0,7917,0.0,0,0,953,953,953,694,0,1647,460,0,40,0,0,0,0,0
1456,85.0,13175,119.0,790,163,589,1542,2073,0,0,2073,500,349,0,0,0,0,0,0
1457,66.0,9042,0.0,275,0,877,1152,1188,1152,0,2340,252,0,60,0,0,0,0,2500
1458,68.0,9717,0.0,49,1029,0,1078,1078,0,0,1078,240,366,0,112,0,0,0,0
1459,75.0,9937,0.0,830,290,136,1256,1256,0,0,1256,276,736,68,0,0,0,0,0

In [196]:
# scale
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

df[to_scale_numerical_cols] = scaler.fit_transform(df[to_scale_numerical_cols])

In [197]:
# split
X = df.drop('SalePrice', axis=1)
y = df['SalePrice']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [198]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_squared_error

lr = LinearRegression()
lr.fit(X_train, y_train)
lr_pred = lr.predict(X_test)

rf = RandomForestRegressor()
rf.fit(X_train, y_train)
rf_pred = rf.predict(X_test)

lr_rmse = np.sqrt(mean_squared_error(y_test, lr_pred))
rf_rmse = np.sqrt(mean_squared_error(y_test, rf_pred))

lr_mse = mean_squared_error(y_test, lr_pred)
rf_mse = mean_squared_error(y_test, rf_pred)

print(f"lr mse: {lr_mse:.3f}\n rf mse : {rf_mse:.3f}")
print(f"lr rmse: {lr_rmse:.3f}\n rf rmse : {rf_rmse:.3f}")

lr mse: 859314641.947
 rf mse : 979276168.709
lr rmse: 29314.069
 rf rmse : 31293.389

In [199]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import numpy as np

# log-transform target
y_train_log = np.log1p(y_train)
y_test_log = np.log1p(y_test)

lr = LinearRegression()
lr.fit(X_train, y_train_log)
lr_pred_log = lr.predict(X_test)

rf = RandomForestRegressor(random_state=42)
rf.fit(X_train, y_train_log)
rf_pred_log = rf.predict(X_test)

lr_rmse = np.sqrt(mean_squared_error(y_test_log, lr_pred_log))
rf_rmse = np.sqrt(mean_squared_error(y_test_log, rf_pred_log))

lr_mse = mean_squared_error(y_test_log, lr_pred_log)
rf_mse = mean_squared_error(y_test_log, rf_pred_log)

print(f"lr mse: {lr_mse:.5f}\n rf mse : {rf_mse:.5f}")
print(f"lr rmse: {lr_rmse:.5f}\n rf rmse : {rf_rmse:.5f}")

lr mse: 0.01478
 rf mse : 0.02248
lr rmse: 0.12159
 rf rmse : 0.14993